@model ModelLayer.ViewModels.CustomerViewModel

@{
    ViewData["Title"] = "DisplayCustomerDetails";
}

<h1>DisplayCustomerDetails</h1>

<div>
    <h4>LoginCustomerViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Store)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a> | 
    <a asp-controller="Customer" asp-action="CustomerList">View A List Of All Customers</a> | 
    <a asp-controller="Shop" asp-action="ShowStores">Let's Start Shopping!</a>
</div>
